<!-- new debate page -->
<div class="jumbotron text-center d-flex justify-content-center">
  <div class="container">
    <h2 class="text-info">New Debate</h2><br />
    <!-- form to add debate -->
    <!-- contains radio buttons to choose binary or open debate options -->
    <!-- if binary selected, smaller text fields to enter for and against options appear -->
    <%= form_for(:debate, :url => {:action => 'create'}) do |f| %>
      <table class="gridcenter">
        <tr>
          <td><%= f.text_area :description, placeholder: 'Debate Description', :cols => 50, :rows => 7 %></td>
        </tr>
        <tr>
          <td>
            <div id="binaryinfo">
              <p><%= f.text_field :for, placeholder: 'For' %>
              <%= f.text_field :against, placeholder: 'Against' %></p>
            </div>
          </td>
        </tr>
      </table>
      <br />
      <%= f.radio_button :type, 'binary', checked: true, data: {behavior: "clickable"} %>
      <%= f.label :type_binary, 'Binary' %>&nbsp;
      <%= f.radio_button :type, 'open', checked: false, data: {behavior: "clickable"} %>
      <%= f.label :type_open, 'Open' %>

      <br />
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <%= submit_tag ("Create Debate"), class:"btn btn-info" %>
    <% end %>
  </div>
</div>

<!-- js that shows/hides for and against fields depending on debate type choice -->
<script>
  $(document).ready(function() {
    $('input[type="radio"][data-behavior="clickable"]').click(function(evt) {
      var info = document.getElementById('binaryinfo');
      if ($(this).val() == 'open'){
        info.setAttribute("class", "hideinfo");
      } else {
        info.setAttribute("class", "showinfo");
      }
    });
  });
  </script>
